
body {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 30px;
  padding-top: 0px;
  width: 854px;
  margin: auto;
}

a {
    color:#4183C4;
    text-decoration:none;
}

a.bold {
  font-weight:bold;
}

a.medium {
    font-size: 14px;
    transition:color 1s ease;
    -webkit-transition:color 1s ease;
}

a.medium:hover {
    color: #e7d8ac;
}

a.small {
    font-size: 12px;
    transition:color 1s ease;
    -webkit-transition:color 1s ease;
}

a.small:hover {
    color: #e7d8ac;
}

a.smalllink {
    font-size: 12px;
    color: #0645AD;
} 

a.link {
    color: #0645AD;
}

a.nav {
    font-size:18px;
    display: block;
    padding: 8px;
    margin: 0px;
    text-align: center;
    color:white;
    text-decoration:none;
    transition:color 1s ease;
    -webkit-transition:color 1s ease;
}

a.nav:hover {
    color: #e7d8ac;
}


h1{
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  cursor: text;
  position: relative;
  font-size: 28px;
  color: black;
}

h2{
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  cursor: text;
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black;
}

h3{
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  cursor: text;
  position: relative;
  font-size: 20px;
}

h4{
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
  font-size: 18px;
}

h5{
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
  margin: 25x 0;
  border-bottom: 1px solid #cccccc;
}
h6{
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
  color: #777777;
  font-size: 16px;
}

hr{
 
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0;
}


p, li, table, pre {
  margin: 15px 0; }

p.small{
    margin: 7px 0;
    font-size: 12px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}
.navbar li {
    float: left;
}
.navbar li a {
    display: block;
    color: #3e3e3e;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 16px;
    /*border-bottom: transparent 2px #52a1d2;*/
}
.navbar li a:hover {
    border-bottom: solid 2px #ff9900;
}
.navbar .active a {
  background-color: #ffffff;
  color: #222;
  /*border-bottom: solid 2px #ff1100;*/
  border-bottom: solid 2px #ff9900;
}

footer {
    margin:0 auto;
    padding:1px;
    text-align:center
}

table{
  padding: 0;border-collapse: collapse; }

table .year{
  font-weight: bold;
  font-size: 26px;
  border: 0;
  background: white;
}

table tr{
  background-color: white;
  margin: 0;
  padding: 0; 
}
table tr:nth-child(2n){
  background-color: #f8f8f8; 
}
table tr th{
  font-weight: bold;
  border: 1px solid #cccccc;
  margin: 0;
  padding: 6px 13px;
}
table tr td{
  border: 1px solid #cccccc;
  margin: 0;
  padding: 6px 13px; 
}

img{
  max-width: 100%;
}

img:hover{
  max-width: 100%;
}

li p.first{
  display: inline-block; 
}
li{
  margin: 0; 
}

/*code{
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

pre{
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 16px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

pre code{
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.highlight pre{
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 16px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

pre.highlight{
  font-size: 14px;
}
*/

/*@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin:0 auto;
    }
}*/